

@mixin mq($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

*,::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    border: 0;
    font-family: "Space Mono", sans-serif;
    // overflow: hidden;
    overflow-y: scroll;
}

section {
    overflow-x: hidden;
    
}
#testing{
    font-size: 3em; 
    display: flex; 
    position:relative; 
    left: 0
}
#introduction {
    width: 100%;
    height: 100%;
    // position: sticky;
    // overflow:
}
