$parentHeight: 25vw;

.circle {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: $parentHeight;
    width: $parentHeight;
    max-width: 300px;
    left: 50%;
    top: 107%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  .text {
    height: 100%;
    width: 100%;
    animation: anim 90s linear infinite;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
  }
  
  @keyframes anim {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
  //TODO: how to show when this is big

  .text span {
    position: absolute;
    left: 50%;
    transform-origin: 0 min(calc($parentHeight/2), 300px);
    font-size: 1em;
    z-index: 2;
  }