:root {
  --bkg__black: #242424;
}



/* TODO: change this into SCSS format with minized file  */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Space Mono", sans-serif;
}

body {
  border: 0;
  overflow: hidden;
}
.navbar {
  background: #fff;
  border-bottom: 1px solid var(--bkg__black);
  height: 10vh;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.2rem; */
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 0 50px;
  overflow: hidden;
}

#navbar__logo {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  max-width: 160px;
  min-width: 100px;
  margin: auto 10px auto 0;
  align-items: center;
  filter: invert(100%);
}

#navbar__logo svg,
.navbar__toggle svg {
  transition: all 0.3s ease-in-out;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0 10px 0 auto;
  position: relative;
  right: -1000px;
  opacity: 0;
  
  transition: all 0.5s ease;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.navbar__menu.active {
  right: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  font-size: 1.1rem;
}

.navbar__menu li {
  padding: 0 0.7rem;
}
.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  /* min-height: 100px; */
  max-width: 100px;
  width: 20vw;
  outline: none;
  border-radius: 30px;
  border: black solid 1px;
  /* background: #f77062; */
  color: black;
  transition: all 0.3s ease-in-out;
}

.brand__link {
  width: 45px;
  /* max-height: 100px; */
  height: 45px;
  /* padding: 10px; */
  border-radius: 50%;
}

.button:hover {
  /* color: var(--bkg__black); */
  border: var(--bkg__black) solid 1px;
  
  transition: all 0.3s ease-in-out;
  /* max-width: 60vw; */
  /* max-height: ; */
}

.navbar__links:hover {
  color: #bfdbd6;
  transition: all 0.2s none;
}

.navbar__toggle {
  display: flex;
  border: var(--bkg__black) solid 1px;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  margin: auto -10px auto 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--bkg__black);
}

.navbar__toggle:hover {
  filter: invert(100%);
}

.navbar__toggle.is-active svg {
  transform: rotate(135deg);
}

#container {
  position: relative;
  display: flex;
  --parentHeight: 90vh;
  height: var(--parentHeight);
  width: 100vw;
  background-color: #fff;
  top: 0%;
  overflow: hidden;
}

#drag__e {
  position: absolute;
  /* border: 0px; */
  background-color: black;
  font-size: 2.4em;
  width: 1.8em;
  height: 1.8em;
  transform: translate(-50%, -50%);
  color: white;
  border: 1.2px solid white;
  display: grid;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  padding: 15px;
  z-index: 3;
  cursor: move;
  transition: none;
}

#drag__e:hover #Layer_1 {
  opacity: 1;
}
#Layer_1 {
  opacity: 0;
  transition: opacity 0.3s ease;
}


.spin {
  position: absolute;
  font-size: 2.4em;
  width: 4em;
  height: 4em;
  opacity: 1;
  top: 50%;
  left: 50%;
  visibility: inherit;
  /* transform: translate(-50%, -50%); */

  z-index: 2;
  user-select: none;

  animation-name: rotation__a;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transition: opacity 1s ease-in-out, visibility 1s ease;
}

@keyframes rotation__a {
  from {
    transform-origin: top left;
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform-origin: top left;
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

#container .button__menu {
  width: calc(var(--parentHeight) / 2 - 15px); /* Adjust the size as needed */
  height: calc(var(--parentHeight) / 2 - 15px);
  border-radius: 50%;
  border: #242424 solid 1px;
  /* background-color: transparent; */
  color: #242424;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 1vh 1vw;
  user-select: none;

}

#abt {
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.4s ease, background-color 0.3s ease-in-out, all 0.35s ease;
}

#dta {
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.4s ease, background-color 0.3s ease-in-out, all 0.35s ease;

}

#fto {
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.4s ease, background-color 0.3s ease-in-out, all 0.35s ease;
}

#container #ptr {
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.4s ease, background-color 0.3s ease-in-out, all 0.35s ease;
}

.description__pg {
  width: 60vw;
  margin: 0 auto;
  align-items: center;
  /* margin: 0 auto;
   */
   visibility: hidden;
   /* visibility: hidden !important; */
}



.description__pg #about,
.description__pg #data,
.description__pg #foto,
.description__pg #poster {
  /* user-select: none; */
  position: absolute;
  /* overflow: hidden; */
  transform: translate(-50%, -50%);
}
#about *,
#data *,
#foto *,
#poster * {
  margin-bottom: 15px;
  user-select: none;
  visibility: inherit;
}


#foto p, #poster p{
  width: 34vw;
  visibility: visible;
}

#data p {
  position: relative;
  top: -150px;
  width: 34vw;
  visibility: visible;
  /* top:100px; */
}

#about p {
  visibility: visible;
}

.description__pg a:hover {
  color: navy !important;
}

.description__pg a {
  transition: color 0.3s ease;
}

#about {
  opacity: 0;
  /* transform: translate(-50%,-50%); */
  font-size: 1.2em;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  top: 50%;
  left: 50%;
  position: relative;
  visibility: inherit;
}

#data {
  text-align: center;
  opacity: 0;
  font-size: 1.2em;
  /* padding: 10px; */
  /* transform: translate(0, -50%); */
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  top: 50%;
  left: 50%;
  position: relative;
  visibility: inherit;
}
#foto {
  opacity: 0;
  text-align: center;
  font-size: 1.2em;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  top: 50%;
  left: 50%;
  position: relative;
  visibility: inherit;
}
#poster {
  opacity: 0;
  text-align: center;
  font-size: 1.2em;
  /* transform: translate(-50%,-50%); */
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  top: 50%;
  left: 50%;
  position: relative;
  visibility: inherit;
}

.text-on-right {
  position: absolute;
  top: 0 !important;
  left: 60%;
  text-align: left;
}

.text-on-left {
  position: absolute;
  top: 0;
  right: 60%;
  text-align: right;

}

/* .hoverable-paragraph {
  visibility: vui;
} */

.image-on-right {
  transform: translate(15vw, -3vh);
}

.image-on-left {
  transform: translate(-15vw, -3vh);
}

.description__pg > div > img {
  width: 45%;
  height: 45%;
  margin: 0 auto;
  min-height: auto;
  min-width: auto;
  z-index: 0;
}

.hoverable-letter {
  font-size: 1.1em;
  transition: all 0.3s ease;
  /* visibility: visible; */
}

.circle {
  position: relative;
  height: 300px;
  width: 300px;
  left: 50%;
  top: 108%;
  border-radius: 50%;
  /* justify-content: center; */
  /* align-items: center; */
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

}

.text {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: anim 90s linear infinite;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

@keyframes anim {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 150px;
  font-size: 1em;
}


.physicCircle img {
  width: 80%;
  height: 80%;
  user-select: none;  
}

.physicCircle {
  
  background-color: white;
  border-radius: 50%;
  border: 1.5px solid black;
  width: 80px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  user-select: none;
  visibility: inherit;
  transform: translate(-50%, -50%);
}

#physicCircleContainer {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 50%;
  position: absolute;
  left:0;
  top:0;
  opacity: 0;
  
  /* background-color: green; */
  /* overflow: hidden; */
  transition: opacity 0.3s ease, visibility 0.3s ease;

  visibility: inherit;
}

#physicsCanvas {
  z-index: 1;
  position: absolute;
  left:0;
  top:0;
  opacity: 0;
  visibility: inherit;
}

#enter {
  position: fixed;
  bottom: 8px;
  left: 50%;

  text-align: center;
  user-select: none;
  opacity: 0;
  visibility: inherit;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#enter:hover {
  opacity: 0.85 !important;
}

#arrow {
  width: 30px; 
  height: 30px; 
  transition: transform 0.2s ease-out;
  
  transform: translate(-50%,0%) scale(0.8); /* Optional: Smooth transition for the rotation */
}

#arrow.active {
  transform: translate(-50%, 0%) scale(1) rotate(0deg) !important;
}


/* TODO: the nav extension in phone is gone */

@media screen and (max-width: 1080px) {
  .description__pg > div > img {
    /* width: 60%;
    height: 60%; */
    width: 65% !important;
    height: auto !important;
    margin: 0 auto;
    /* user-select: none; */
    z-index: 0;
  }

  .image-on-right {
    transform: translate(22vw, -3vh);
    /* padding-left:100px; */
  }
  
  .image-on-left {
    transform: translate(-22vw, -3vh);
    /* padding-left:100px; */
  }


  .button__menu {
    
    max-width: calc(var(--parentHeight) / 3 - 15px);
    max-height: calc(var(--parentHeight) / 3 - 15px);

    margin: 2vh 3vw !important;
  }

  #data p, #foto p, #poster p{
    width: 38vw;
  }
}


@media screen and (max-width: 480px) {
  .description__pg > div > img {
    max-width: 60%;
    max-height: 60%;
    margin: 0 auto;
    z-index: 0;
  }
}

